@page
@model ForTh3Win.Pages.Kyle.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.GameName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.GameName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Reviewer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Reviewer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.ReviewerRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.ReviewerRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.ReviewText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.ReviewText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.ESRBRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.ESRBRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.ReleaseDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Review.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
