@page
@model ForTh3Win.Pages.Russell.DetailsModel
@section head{
    <style type="text/css">
        body {
            background-image: url('/Images/bg.jpg');
            margin: 0;
        }
    </style>
}

@{
    ViewData["Title"] = "Details";
}
<div class="bg-secondary text-white" >
    <h1 class="text-center" style="font-family:'Book Antiqua'">Details</h1>
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">
                @Html.DisplayNameFor(model => model.Review.GameName):  @Html.DisplayFor(model => model.Review.GameName)
            </li>
        </ul>
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            @Html.DisplayNameFor(model => model.Review.Publisher):  @Html.DisplayFor(model => model.Review.Publisher)
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            @Html.DisplayNameFor(model => model.Review.Reviewer):  @Html.DisplayFor(model => model.Review.Reviewer)
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            @Html.DisplayNameFor(model => model.Review.Description):  @Html.DisplayFor(model => model.Review.Description)
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            @Html.DisplayNameFor(model => model.Review.ReviewerRating):  @Html.DisplayFor(model => model.Review.ReviewerRating)
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            @Html.DisplayNameFor(model => model.Review.ReviewText):  @Html.DisplayFor(model => model.Review.ReviewText)
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            @Html.DisplayNameFor(model => model.Review.ESRBRating):  @Html.DisplayFor(model => model.Review.ESRBRating)
        </li>
    </ul>


    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            @Html.DisplayNameFor(model => model.Review.Genre):  @Html.DisplayFor(model => model.Review.Genre)
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            @Html.DisplayNameFor(model => model.Review.ReleaseDate):  @Html.DisplayFor(model => model.Review.ReleaseDate)
        </li>
    </ul>
</div>
<p></p>
<div>
    <a asp-page="./Edit" class="btn btn-sm btn-outline-dark bg-primary text-white px-3" asp-route-id="@Model.Review?.ID">Edit</a> |
    <a asp-page="./Index" class="btn btn-sm btn-outline-dark bg-primary text-white px-3">Back to List</a>
</div>
