@page
@using ForTh3Win.Models
@model ForTh3Win.Pages.Russell.IndexModel

@{
    ViewData["Title"] = "Game Review Search";
}
<div class="bg-dark">
    <h1 class="text-center bg-secondary text-white border-info" style="font-family:'Book Antiqua'">Search Russell's Reviews!</h1>

<p>
    <a asp-page="Create" class="btn btn-lg btn-outline-info bg-secondary text-white px-5">Create New</a>
</p>
<table class="table bg-secondary text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Reviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ReviewerRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ESRBRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         <form class=" row">
                    <p class="text-white col-sm-6">
                        Game Name: <input type="text" asp-for="SearchString" />
                        
                    </p>
                    <p >
                        <label asp-for="Genre" class="control-label"></label>
                        <select asp-for="Genre" class="form-control" asp-items="Html.GetEnumSelectList<GenreEnum>()">
                            <option value="">Choose a Genre:</option>
                        </select>    
                    </p>
                    <input type="submit" value="Filter" />
                    <p></p>
         </form>
@foreach (var item in Model.Review) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESRBRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                        <a asp-page="./Edit" class="btn btn-sm btn-outline-dark bg-primary text-white px-3" asp-route-id="@item.ID">Edit</a> 
                        <a asp-page="./Details" class="btn btn-sm btn-outline-dark bg-primary text-white px-3" asp-route-id="@item.ID">Details</a> 
                        <a asp-page="./Delete" class="btn btn-sm btn-outline-dark bg-danger text-white px-3" asp-route-id="@item.ID">Delete</a>
            </td>
               
        </tr>
}
    </tbody>
</table>
</div>