@page
@model ForTh3Win.Pages.James.IndexModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        * {
            color: #111;
        }

        a {
            text-decoration: none;
        }

        h1 {
            color: #9747FF;
        }

        body {
            background-color: #30233E;
        }

        thead {
            margin: 15px;
        }

        .searchElement {
            width: 120px; 
        }
        
        .searchBtns {
            width: 120px;
            background-color: #9747FF;
        }

        .sidebar {
            height: auto; 
            width: 160px; 
            position: fixed; 
            z-index: 1; 
            background-color: #111;
            border-radius: 15px;
            overflow-x: hidden; 
            padding: 20px;
        }

        .table {
            margin-left: 175px; 
            background-color: #111;
            padding: 100px;
        }

        .table > :not(caption) > * > th {
            background-color: #9747FF;
            border-radius: 15px;
            border: 3px solid #111;

        }
        .table > :not(caption) > * > td {
                background-color: lightgray;
                border-radius: 15px;
                border: 3px solid #111;
        }
    </style>
</head>
<body>
    <h1>Index</h1>
        <form asp-page="./Index" method="get" class="sidebar" >
            <input type="text" placeholder="Title" name="searchString" class="searchElement">
            <select name="esrbSearch" class="searchElement">
                <option value="">ESRB Rating</option>
                <option value="Everyone">Everyone</option>
                <option value="EveryoneTenPlus">Everyone 10+</option>
                <option value="Teen">Teen</option>
                <option value="Mature">Mature 17+</option>
            </select>
            <select name="genreSearch" class="searchElement">
                <option value="">Genres</option>
                <option value="FourX">4X</option>
                <option value="Adventure">Adventure</option>
                <option value="BattleRoyale">Battle Royale</option>
                <option value="Fighting">Fighting</option>
                <option value="Horror">Horror</option>
                <option value="MassivelyMultiplayer">Massively Multiplayer</option>
                <option value="Metroidvania">Metroidvania</option>
                <option value="MOBA">MOBA</option>
                <option value="PartyGame">Party Game</option>
                <option value="Platformer">Platformer</option>
                <option value="Puzzle">Puzzle</option>
                <option value="Racing">Racing</option>
                <option value="RealTimeStrategy">Real Time Strategy</option>
                <option value="Rhythm">Rhythm</option>
                <option value="Rougelike">Rougelike</option>
                <option value="Sandbox">Sandbox</option>
                <option value="Shooter">Shooter</option>
                <option value="Simulation">Simulation</option>
                <option value="Sports">Sports</option>
                <option value="Survival">Survival</option>
                <option value="Tabletop">Tabletop </option>
                <option value="TacticalRPG">Tactical RPG</option>
                <option value="TurnBasedStrategy">Turn Based Strategy</option>
            </select>
            <select name="sortOrder" class="searchElement">
                <option value="">Sort...</option>
                <option value="desc">Descending</option>
                <option value="asc">Ascending</option>
            </select>
            <button type="submit" value="Search" id="searchBtn" class="searchBtns">Search</button>
            <br /><br /><button class="searchBtns"><a asp-page="Create" style="color:black">Create New</a></button>
        </form>
    <table class="table">
        <thead>
            <tr>
                <th class="hCell">
                    @Html.DisplayNameFor(model => model.Review[0].GameName)
                </th>
                <th class="hCell">
                    @Html.DisplayNameFor(model => model.Review[0].ESRBRating)
                </th>
                <th class="hCell">
                    @Html.DisplayNameFor(model => model.Review[0].Genre)
                </th>
                <th class="hCell">
                    @Html.DisplayNameFor(model => model.Review[0].ReleaseDate)
                </th>
                <th class="hCell"></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Review)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ESRBRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</body>